.button {
  background: #8844a2;
  color: #fff;
  transition: 300ms ease background;
  padding: 20px 40px;
  text-align: center;

  &:hover,
  &:active {
    background: #974bb4;
  }

  p {
    margin: 0;
  }
}
